body, html {
    font-family:Helvetica,Arial,sans-serif;
    font-size:10pt;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-justify-content:center;
    justify-content:center;
}
}
div[class^="bk-plot"], table.JS9_wrapper {
    display:inline-block;
}
table.JS9_wrapper td {
    overflow:hidden;
}
table.JS9_wrapper {
    padding-bottom:30px;
    margin-left:30px;
    width:365px;
}
.JS9Message {
    display:none;
}
.JS9Button {
    padding:3px 4px;
    margin:4px 3px;
}
input.rescale {
    width:50px;
}
.filtertext {
    text-align:right;
    color:#00FF00;
    position:absolute;
    width:178px;
    height:15px;
    margin-top:-178px;
}
#starinfo {
    text-align:center;
    font-size:12pt;
}
